<header>
    <div class="container">
        <!-- Навигационная панель -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <!-- Меню сайта -->
            <a class="navbar-brand" href="#">Ольга Селедцова</a>
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Лб1</a>
                <a class="nav-item nav-link" href="#">Каталог</a>
                <a class="nav-item nav-link" href="#">Администрирование</a>
            </div>

            <!-- Информация пользователя -->
            <a href="#" class="navbar-text ms-auto">
                00,0 руб <i class="fa-solid fa-cart-shopping"></i> (0)
            </a>

            <div class="dropdown ms-4 nav-color">
                <button class="btn btn-secondary dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    User@gmail.com
                    <img src="/images/default-profile-picture.png" width="30"
                         alt="User" class="rounded nav-color" />
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <span class="dropdown-item-text">
                            <img src="/images/default-profile-picture.png" width="50"
                                 alt="User" class="rounded" />
                            user@gmail.com
                        </span>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <form id="logoutForm" class="form-inline" action="#">
                            <button type="submit" class="nav-link btn btn-link text-dark">
                                Logout
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<main class="container">
    <!-- Основное содержимое -->
    <h1>Лабораторная работа 1</h1>

    <h2>Список</h2>
    <ol type="A">
        <li>элемент 0 списка</li>
        <li>элемент 1 списка</li>
        <li>элемент 2 списка</li>
        <li>элемент 3 списка</li>
        <li>элемент 4 списка</li>
    </ol>

    <h2>Форма</h2>
    <form method="get">
        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="checkbox1" id="checkbox1">
                <label class="form-check-label" for="checkbox1">Чек-бокс 1</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="checkbox2" id="checkbox2">
                <label class="form-check-label" for="checkbox2">Чек-бокс 2</label>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radioGroup" id="radio1" value="1" checked>
                <label class="form-check-label" for="radio1">Радио-1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radioGroup" id="radio2" value="2">
                <label class="form-check-label" for="radio2">Радио-2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radioGroup" id="radio3" value="3">
                <label class="form-check-label" for="radio3">Радио-3</label>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="login" class="col-sm-2 col-form-label">Логин:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="login" name="login" placeholder="Введите имя">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="password" class="col-sm-2 col-form-label">Пароль:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" name="password" placeholder="Введите пароль">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</main>

<footer>
    <div class="container">
        <div class="navbar navbar-dark navbar-expand-md bg-dark">
            <div class="navbar-nav ms-auto">
                <a class="nav-item nav-link" href="http://www.facebook.com">
                    <i class="fa-brands fa-facebook-f fa-2x"></i>
                </a>
                <a class="nav-item nav-link" href="http://www.vk.com">
                    <i class="fa-brands fa-vk fa-2x"></i>
                </a>
                <a class="nav-item nav-link" href="http://www.twitter.com">
                    <i class="fa-brands fa-twitter fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
</footer>